* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Verdana";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper { 
  height: 500px;
  padding: 180px 0 100px 0;
  background-size: cover;
  background-image: url("educa.png");
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  margin-top: 65px;
}

.lesson-wrapper h1 {
  opacity: 1;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #D44638;
}

.facebook {
  background-color: #3b5998;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #22a6b3;
  position :fixed;
  top: 0;
  z-index: 10;
  font-family: "arial";
}


.header-left {
  float: left;
}

.logo {
  width: 180px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display : none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ebf4fa;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 38%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.profile-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.heading-title {
  color: red;
}

.slider{
  overflow: hidden;
  height: 200px;
}

.slider figure div{
  width: 20%;
  float: left;
}

.slider figure img{
  width: 20%;
  float: center;
}

.slider figure{
  position: relative;
  width: 100%;
  margin: 0;
  left: 0;
  animation: 50s slidy infinite;
}

@keyframes slidy{
  0%{
    left: 0%
  }
  10%{
    left: 0%;
  }
  12%{
    left: -100%;
  }
  22%{
    left: -100%;
  }
  24%{
    left: -200%;
  }
  34%{
    left: -200%;
  }
  36%{
    left: -300%;
  }
  46%{
    left: -300%;
  }
  48%{
    left: -400%;
  }
  58%{
    left: -400%;
  }
  60%{
    left: -300%;
  }
  70%{
    left: -300%;
  }
  72%{
    left: -200%;
  }
  82%{
    left: -200%;
  }
  84%{
    left: -100%;
  }
  94%{
    left: -100%;
  }
  96%{
    left: 0%;
  }
  100%{
    left: 0%;
  }
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #22a6b3;
  color: #fff;
  height: 120px;
}

.footer-logo{
  font-size: 32px;
  float: left;
  padding-bottom: 10px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom:0px;
}

